body {
    background-color:  #53655e ;
}

h1 {
    color: white;
}

p {
    color: white;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover{
    cursor:pointer;
}

.guess-wrapper {
    display: flex;
    gap: 10px;
    margin: 30px
}

.hide {
    visibility: hidden;
}

.victory-text {
    font-size: xx-large;
    position: absolute;
    top: 25%;
    color: lightgreen;
}

.victory-button {
    position: absolute;
    top: 40%;
}